<div class="notes">
  <span class="mark">*</span> 印の付いた項目は入力必須です。
</div>
<div>
  <%= f.label :price, '投資額', class: 'required' %>
  <%= f.text_field :price %>
</div>
<div>
  <%= f.label :comment, 'コメント' %>
  <%= f.text_area :comment %>
</div>