-@title = '投資管理'
h1 = @title

div.table-wrapper
  div.links
    = link_to '投資登録', :new_product_investment
  table.listing
    tr
      th ユーザ
      th 投資額
      th コメント
      - @product.investments.each do |m|
        tr
          td = m.user.email
          td = m.price
          td = m.comment
  div.links
    = link_to '投資登録', :new_product_investment